{% import "macro_tax.html" as macro_tax %}


{% macro list_pages(pages) %}
<ul>
{% for page in pages %}
    <li>
        <p class="title">
        <a href="{{ page.permalink }}">{{ page.title }}</a></p>

        {{ page.description | markdown | safe }}

        <p class="date">
            Posted on <time datetime="{{ page.date | date(format="%+") }}">{{ page.date }}</time>
            in {{ macro_tax::category(page=page)  }},
            tagged with {{ macro_tax::tags(page=page) }}
        </p>
    </li>
{% endfor %}
</ul>
{% endmacro list_pages %}
