{% extends "base.html" %}

{% import "macro_tag.html" as macro_tag %}
{% import "macro_tax.html" as macro_tax %}

{% block head %}
    {% if page.extra.image %}
    {% set image = page.extra.image %}
    {% else %}
    {% set image = "favicon.png" %}
    {% endif %}
    <title> {{ page.title }} - {{ config.title }}</title>
    {%- if page.earlier %}
    <link rel="prev" href="{{ page.earlier.permalink }}" />
    {%- endif -%}
    {%- if page.later %}
    <link rel="next" href="{{ page.later.permalink  }}" />
    {%- endif %}
    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BlogPosting",
        "headline": "{{page.title}}",
        "alternativeHeadline": "{{page.description}}",
        "image": [
            "{{ get_url(path=image) }}"
        ],
        "datePublished": "{{page.date}}",
        {% if page.updated %}
        "dateModified": "{{page.updated}}",
        {% endif %}

        {% if page.taxonomies['tags'] %}
            "keywords": [
            {% for tag in page.taxonomies['tags'] %}
                "{{tag}}" {%- if not loop.last -%} ,  {% endif %}
            {% endfor %}
            ],
        {% endif %}
        {% if page.taxonomies['tags'] %}
            "articleSection": "{{ page.taxonomies['category'][0] }}",
        {% endif %}
        "author": {
            "@type": "Person",
            "name": "Wonko",
            "url": "{{config.base_url | safe}}"
        }
    }
    </script>

    <meta property="og:title" content="{{page.title}}">
    <meta property="og:site_name" content="{{config.title}}">
    <meta property="og:url" content="{{ current_url | safe }}">
    <meta name="description" content="{{page.description}}">
    <meta name="og:description" content="{{page.description}}">
    <meta property="og:image" content="{{ get_url(path=image) }}">

{% endblock head %}

{% block content %}

<article>

    {{ macro_tag::tagline(page=page) }}

    {{ page.content | safe }}

</article>
{% endblock content %}

{% block extra_footer_nav %}
    {% if page.earlier -%}
        <a style="float:left;" href="{{ page.earlier.permalink }}" rel="prev"> Older Post</a>
    {%- endif %}

    {% if page.later -%}
    <a style="float:right;" href="{{ page.later.permalink }}" rel="next"> Newer Post</a>
    {%- endif %}
{% endblock extra_footer_nav %}
